#header {
  background: saddlebrown;
  color: white;
}
#header #signatures-nav li {
  text-shadow: 1px 1px 0 rgba(44, 178, 44, 0.5)
}
#header #navigation li a {
  color: white
}
#header #navigation li a:hover {
  background: #D28C5A;
}

#entry a {
  color: saddlebrown;
}

#entry #footer {
  background: saddlebrown;
  color: white;
}
#entry #footer h2 {
  text-shadow: 1px 1px 0 rgba(44, 178, 44, 0.5)
}
#entry #footer a {
  color: white;
  text-decoration: underline;
}
#entry #footer a:hover {
  background: #2CB22C;
}

#entry #entry-wrapper .deflisttable .row1 {
  background-color: #FFBF88;
}

